<!-- afficher le formulaire avec le login, le mot de passe et le bouton "S'inscrire" -->
<h1>Inscription</h1>
<form>
  <div>
    <label for="login">Login:</label>
    <!-- ajouter le directive ngModel pour lier le champ login avec le modèle utilisateur -->
    <input type="text" name="login" id="login" [(ngModel)]="login">
  </div>
  <div>
    <label for="mot_de_passe">Mot de passe:</label>
    <input type="password" name="mot_de_passe" id="mot_de_passe">
  </div>
  <!-- ajouter directive routerLink pour rediriger vers la nouvelle route -->
  <button type="submit" [routerLink]="['/espace-personnel', login]">Se logger</button>
</form>