<!-- composant crée grâce à la commande ng generate component nomDuComposant -->

<div class="container">
<form>
    <!-- Champ de saisie (input) -->
    <label for="name">Votre nom :</label>
    <input type="text" [(ngModel)]="name" name="name" id="name">

    <!-- Bouton de réinitialisation (reset) -->
    <button type="button" (click)="resetName()">Reset</button>
    <!-- Bouton d'ajout (add) -->
    <button type="button" (click)="addUser()">Add</button>
</form>

<!-- Ajout d'une condition -->
<div *ngIf="name && name.trim().length > 0">
    <!-- Ajout d'un pipe `titlecase` pour MAJ en 1ère lettre -->
    Bienvenue <span [ngClass]="name==='Administrateur' ? 'red' : ''">{{name | titlecase}}</span>
</div>
</div>

<!-- Ajout d'une boucle -->
<ul>
  <!-- Ajout d'un pipe `titlecase` pour MAJ en 1ère lettre -->
  <li *ngFor="let user of users">{{user | titlecase}}
    <!-- Bouton de suppression (remove) -->
    <button type="button" (click)="removeUser(user)">Supprimer</button>
  </li>
</ul>
